<%# A consistant header among pages%>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# A message block available for messages we want to add to the page later%>
<%- messages() %>

<%# Code block to display errors %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>


<h2><strong>Welcome, <%= account_name %></strong></h2>
<p>You're logged in.</p>

<ul class="manage-view">
  <li><a href="/account/edit-account/<%= locals.accountData.account_id %>" title="Edit Account Information">Edit Account Information</a></li>
</ul>

<p><strong>First Name: </strong> <%= locals.accountData.account_firstname %></p>
<p><strong>Last Name: </strong> <%= locals.accountData.account_lastname %></p>
<p><strong>Email: </strong> <%= locals.accountData.account_email %></p>

<% if (locals.accountData.account_type == 'Employee' || locals.accountData.account_type == 'Admin') { %>
  <h3>Manage Inventory</h3>
  <a title="Click to manage inventory" href="/inv/">Manage Inventory</a>
<% } %>

<h2>My Reviews</h2>
<%# if (reviews) { 
  reviews.forEach(review => { %>
    <!-- <p>Reviewed the <%#= locals.inv_year %> <%#= locals.inv_make %> <%#= locals.inv_model %> on <%#= locals.review_date %></p>
    <hr />
    <a title="Click to edit review" href="/reviews/update-review">Edit</a>
    <a title="Click to delete review" href="/reviews/delete-review">Delete</a>-->
  <%# });%>
  
<%# } else { %>
  <p><mark>Leave a <a title="Click to select a vehicle to review" href="/">review</a> today!</mark></p>
<%# } %>