<%# A consistant header among pages%>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# A message block available for messages we want to add to the page later%>
<%- messages() %>

<%# Code block to display errors %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>


<h2><strong>Welcome, <%= account_name %></strong></h2>
<p>You're logged in.</p>

<%- accountManage %>

<% if (locals.account_type === 'Employee' || 'Admin') { %>
  <h3>Manage Inventory</h3>
  <a title="Click to manage inventory" href="/inv/">Manage Inventory</a>
<% } %>