<%# A consistant header among pages%>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# A message block available for messages we want to add to the page later%>
<%- messages() %>

<%# Code block to display errors %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="account-form">
    <form id="updateAccount" class="update-account-form" action="/account/edit" method="post">
      <fieldset>
        <label for="account_firstname"><strong>First Name</strong></label><br>
        <input type="text" id="account_firstname" name="account_firstname" required value="<%= locals.account_firstname %>"><br>
        <label for="account_lastname"><strong>Last Name</strong></label><br>
        <input type="text" id="account_lastname" name="account_lastname" required value="<%= locals.account_lastname %>"><br>
        <label for="account_email"><strong>Email</strong></label><br>
        <input id="account_email" name="account_email" required value="<%= locals.account_email %>"><br>
        <input type="submit" name="submit" value="Update Account" disabled>
        <input type="hidden" name="account_id" 
        <% if(locals.account_id) { %> value="<%= locals.account_id %>"
        <% } %>>
      </fieldset>
    </form>
</div>
<div class="password-form">
    <p>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character.</p>
    <form id="updatePassword" class="update-password-form" action="/account/edit-password" method="post">
      <fieldset>
        <label for="account_password"><strong>Password</strong></label><br>
        <input type="password" id="account_password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>
        <input type="submit" name="submit" value="Change Password" disabled>
        <input type="hidden" name="account_id"
        <% if(locals.account_id) { %> value="<%= locals.account_id %>"
        <% } %>>
      </fieldset>
    </form>
    <p>*note your original password will be changed.</p>
</div>

<script src="../../js/account-update.js"></script>