<%# A consistant header among pages%>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%# A message block available for messages we want to add to the page later%>
<%- messages() %>

<%# Code block to display errors %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="form">
  <p>Confirm Deletion - The delete is permanent.</p>
  <form id="deleteForm" class="delete-vehicle-form" action="/inv/delete" method="post">
    <fieldset>
      <label for="inv_make"><strong>Make</strong></label><br>
      <input type="text" id="inv_make" name="inv_make" required value="<%= locals.inv_make %>" readonly><br>
      <label for="inv_model"><strong>Model</strong></label><br>
      <input type="text" id="inv_model" name="inv_model" required value="<%= locals.inv_model %>" readonly><br>
      <label for="inv_price"><strong>Price</strong></label><br>
      <input type="number" id="inv_price" name="inv_price" required value="<%= locals.inv_price %>"readonly><br>
      <label for="inv_year"><strong>Year</strong></label><br>
      <input type="number" id="inv_year" name="inv_year" required value="<%= locals.inv_year %>" readonly><br>
      <input type="submit" name="submit" value="Delete Vehicle"/>
      <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
    </fieldset>
  </form>
</div>